.backbtn {
  background: transparent !important;
    color: #000 !important;
    display: inline;
    max-width: 100px;
    font-weight: 600;
    font-style: italic;
    border: none;
    text-align: left;
    padding: 0;
    margin-bottom: 10px;
  // &:hover{
  //   text-decoration: underline;
  // }
}
