:root {
  --borderRadius: 4px;
  --bgColor: #fafbfb;
  --fontColor: #121241;
  --primaryColor: #18181b;
  --secondaryColor: #ffe147;
  --secondaryColorDisabled: #655714;
  --tertiaryColor: #2ba9fc;
  --blueColor: #0075ff;
  --placeHolder: #666666;
  --checkboxColor: #2fb600;
  --bgColorSidebar: #bbd5e4;
  --bgColorButton: #f7f7f7;
  --highlightColor: #4472c4;
}