.createContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
  overflow: auto;
  .createRoot {
    max-width: 530px;
    width: 100%;
    border: 1px solid #ccd0d2;
    box-shadow: var(--boxshadow);
    border-radius: 8px;
    padding: 20px;
    background-color: var(--bgColor);

    button {
      width: 100%;
      height: 42px;
      margin-top: 20px;
      &:disabled {
        border-color: #655714;
      }
    }
  }
}